.navbar-static-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-nav.navbar-right {
  margin-right: 0;
}

.navbar-brand {
  color: #333!important;
}

#page-wrapper {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.page-header {
  margin-top: 20px;
}
